bcrypt==4.0.1
celery==5.3.1
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Caching==2.0.2
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.2
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.0.5
fonttools==4.41.1
html5lib==1.1
httplib2==0.22.0
Jinja2==3.1.2
multidict==6.0.4
numpy==1.25.1
pandas==2.0.3
redis==4.6.0
requests==2.31.0
SQLAlchemy==2.0.19
twilio==8.5.0
urllib3==2.0.4
weasyprint==59.0
Werkzeug==2.3.6
flask_restful
